<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="regularroutes.funf.probes">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <service android:name="fi.aalto.trafficsense.funfprobes.FusedLocation.FusedLocationService"/>
    </application>

</manifest>
